nav,
nav ul,
nav li,
nav a {
    /*Thiết lập các thông số về lề đường kẻ...*/
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
nav {
    height: 40px; /* độ cao */
    background: #4c4e5a; /* màu nền */
    /* tô màu gradient áp dụng theo từng loại trình duyệt */
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); /* Safari 5.1 to 6.9 */
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); /* For Firefox 3.6 to 15*/
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);/* For Opera 11.6 to 12.9 */
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    /* tạo bo tròn */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
nav ul li{
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}
nav ul li a{
    display: block; /* hiển thị dạng khối */
    padding: 0 14px; /* trên dưới =0; trái phải =14 */
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    /* taọ đươngf kẻ traí , phaỉ */
    border-left: 1px sol     #393942;
    border-right: 1px solid #4f5058;
    /* Chọn chữ */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    /* Màu sắc */
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,6);
    /* Hiệu ứng */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
/* bỏ đường kẻ ở phần tử đầu và cuối */
nav ul li:first-child a {border-left: none; }
nav ul li:last-child a {border-right: none; }
/* Khi người dùng hover đến phần tử */
nav ul li:hover > a { color: #8fde62; }
/* Định dạng hiển thị menu con */
nav ul li a+ul {
    display: none;
}
ul.submenu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;

    opacity: 0; /* Không nhìn thấy menu */
    background: #1f2024;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
/* hiển thị menu sub khi hover đến mục chọn */
nav ul li:hover a+ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #393942;
    width: 15rem;
    position: relative;
    list-style: none;
    display: block;
    height: 40px;
}
/* bỏ đường kẻ trong submenu */
.submenu li a{
    border: none;
}
/* Tạo đường kẻ ngang */
.submenu li{
    width: 100%;
    border-bottom: 1px solid #393942;
}
/* Bỏ đường kẻ ngang ở phần tử cuối cùng */
.submenu li:last-child { border-bottom: none;}

.submenu li a {
    width: 100%;
    padding: 4px 0px 4px 40px;
    margin: 0;
    border: none;
}
/* tạo các icon trong menu con */
